<html>
<head>
    <title>유저 정보 입력</title>
</head>
<body>
    <form action="/fita/new" method="POST">
        <div style="margin-bottom: 20px">
            <label for="id">유저 ID:</label>
            <input type="text" id="id" name="id" style="width: 20rem;">
        </div>
        <div style="margin-bottom: 20px">
            <label for="age">나이:</label>
            <input type="text" id="age" name="age" style="width: 10rem;">
        </div>
        <div style="margin-bottom: 20px">
            <label for="detect_obj">사물 감지:</label>
            <input type="text" id="detect_obj" name="detect_obj" style="width: 10rem;">
        </div>
        <div style="margin-bottom: 20px">
            <label for="room_loc">방 위치:</label>
            <input type="text" id="room_loc" name="room_loc" style="width: 10rem;">
        </div>
        <div style="margin-bottom: 20px">
            <label for="anchor_loc">앵커 위치:</label>
            <input type="text" id="anchor_loc" name="anchor_loc" style="width: 10rem;">
        </div>
        <button>신규 유저 생성</button>
    </form>
</body>
</html>